<mat-card class="file-search-create-card">
    <mat-card-header>
        <mat-card-title>Search Files
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <div class="top-error-message">
            <app-error-template [errorMessage]="errorMessage"></app-error-template>
        </div>
    </mat-card-content>
    <mat-horizontal-stepper #stepper [linear]="isLinear" (selectionChange)="onStepChange($event)">
        <mat-step [stepControl]="searchingParametersFormGroup">
            <form [formGroup]="searchingParametersFormGroup">
                <ng-template matStepLabel>Search parameters</ng-template>
                <mat-form-field *ngIf="fileCriteriaData && fileCriteriaData.entityID">
                    <mat-label>{{getFileSearchDisplayName('entityID')}}
                    </mat-label>
                    <mat-select formControlName="entityID">
                        <mat-option value="">ALL</mat-option>
                        <mat-option *ngFor="let entityID of fileCriteriaData.entityID" [value]="entityID">
                            {{entityID}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="fileCriteriaData && fileCriteriaData.service">
                    <mat-label>{{getFileSearchDisplayName('service')}}
                    </mat-label>
                    <mat-select formControlName="service" (selectionChange)="onServiceSelect($event)">
                        <mat-option value="">ALL</mat-option>
                        <mat-option *ngFor="let service of fileCriteriaData.service" [value]="service">
                            {{service}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="fileCriteriaData && fileCriteriaData.direction">
                    <mat-label>{{getFileSearchDisplayName('direction')}}
                    </mat-label>
                    <mat-select formControlName="direction" (selectionChange)="onDirectionSelect($event)">
                        <mat-option value="">ALL</mat-option>
                        <mat-option *ngFor="let direction of fileCriteriaData.direction" [value]="direction">
                            {{direction}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="fileCriteriaData && fileCriteriaData.fileStatus">
                    <mat-label>{{getFileSearchDisplayName('fileStatus')}}
                    </mat-label>
                    <mat-select formControlName="fileStatus" (selectionChange)="onStatusSelect($event)">
                        <mat-option value="">ALL</mat-option>
                        <mat-option *ngFor="let fileStatus of fileCriteriaData.fileStatus" [value]="fileStatus">
                            {{fileStatus.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="fileCriteriaData && fileCriteriaData.bpstate">
                    <mat-label>{{getFileSearchDisplayName('bpstate')}}
                    </mat-label>
                    <mat-select formControlName="bpstate">
                        <mat-option value="">ALL</mat-option>
                        <mat-option *ngFor="let bpstate of fileCriteriaData.bpstate" [value]="bpstate">
                            <mat-icon [svgIcon]="FILE_STATUS_ICON[bpstate | uppercase]"></mat-icon>
                            {{bpstate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{getFileSearchDisplayName('filename')}}</mat-label>
                    <input matInput formControlName="filename">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{getFileSearchDisplayName('reference')}}</mat-label>
                    <input matInput formControlName="reference">
                </mat-form-field>
                <mat-form-field *ngIf="fileCriteriaData && fileCriteriaData.type">
                    <mat-label>{{getFileSearchDisplayName('type')}}
                    </mat-label>
                    <mat-select formControlName="type">
                        <mat-option value="">ALL</mat-option>
                        <mat-option *ngFor="let type of fileCriteriaData.type" [value]="type">
                            {{type}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{getFileSearchDisplayName('from')}}</mat-label>
                    <input [owlDateTime]="from" matInput [owlDateTimeTrigger]="from" [selectMode]="'rangeFrom'"
                        [(ngModel)]="selectedData" formControlName="from">
                    <owl-date-time #from></owl-date-time>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{getFileSearchDisplayName('to')}}</mat-label>
                    <input [owlDateTime]="to" matInput [owlDateTimeTrigger]="to" [selectMode]="'rangeTo'"
                        [(ngModel)]="selectedData" formControlName="to">
                    <owl-date-time #to></owl-date-time>
                </mat-form-field>
                <div class='stepper-actions'>
                    <button mat-raised-button matStepperNext class="action-button">Next</button>
                    <button mat-raised-button class="action-button" color='warn' (click)="resetSearchParameters()">
                        Reset</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <h3 *ngIf="files && files.totalElements">
                {{getSearchingTableHeader(files.totalElements, files.pageable.pageSize, files.pageable.pageNumber + 1)}}
            </h3>
            <ng-template matStepLabel>Search results</ng-template>
            <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-icon [svgIcon]="getFileStatusIcon(element.status)"></mat-icon>
                            &nbsp;{{element.status}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-button (click)="openFileDetailsDialog(element)">
                                {{element.id}}
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="filename">
                        <mat-header-cell *matHeaderCellDef> Filename </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-button (click)="openFileDocumentInfo(element)">
                                {{element.filename}}
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="reference">
                        <mat-header-cell *matHeaderCellDef> Reference </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.reference}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.type}}
                            <mat-icon>{{element.outbound ? 'call_made' : 'call_received'}}</mat-icon>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="service">
                        <mat-header-cell *matHeaderCellDef> Service </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.service}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="timestamp">
                        <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.timestamp | date:'dd/MM/yyyy, HH:mm'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="WFID">
                        <mat-header-cell *matHeaderCellDef> WFID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-button (click)="openBusinessProcessDialog(element)">
                                {{element.workflowID}}
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="error">
                        <mat-header-cell *matHeaderCellDef> Error </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-button (click)="openErrorDetailsDialog(element)">
                                {{element.errorCode}}
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="transactions">
                        <mat-header-cell *matHeaderCellDef> Transactions </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button [disabled]="element.transactionTotal <= 0" mat-button
                                (click)="openTransactionsDialog(element)">
                                <mat-icon inline>info</mat-icon>&nbsp;info
                            </button>

                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noData">
                        <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                            No records found.
                        </mat-footer-cell>
                    </ng-container>

                    <mat-footer-row *matFooterRowDef="['noData']" [hidden]="dataSource && dataSource.data.length > 0">
                    </mat-footer-row>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <app-table-paginator *ngIf="files" [value]="pageIndex + 1" [getRows]="getFileList.bind(this)" [min]="1"
                    [max]="files && files.totalPages" [length]="files.totalElements"
                    [pageIndex]="files.pageable.pageNumber" [pageSize]="files.pageable.pageSize"
                    [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
                </app-table-paginator>

            </div>
            <div class='stepper-actions'>
                <button mat-raised-button matStepperPrevious class="action-button">Back</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <mat-card-footer>
        <mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>