<mat-card class="transaction-search-card">
    <mat-card-header>
        <mat-card-title>Search SCT Transactions
        </mat-card-title>
    </mat-card-header>
    <mat-horizontal-stepper #stepper [linear]="isLinear" (selectionChange)="onStepChange($event)">
        <mat-step [stepControl]="searchingParametersFormGroup">
            <form [formGroup]="searchingParametersFormGroup">
                <ng-template matStepLabel>Search parameters</ng-template>
                <section class="form-field-section">
                    <mat-form-field *ngIf="transactionCriteriaData && transactionCriteriaData.entity">
                        <mat-label>{{getTransactionSearchDisplayName('entity')}}
                        </mat-label>
                        <input type="text" aria-label="Entity" matInput formControlName="entity"
                            [matAutocomplete]="autoCompleteEntity" appAutocompleteEnforceSelection>
                        <mat-autocomplete autoActiveFirstOption #autoCompleteEntity="matAutocomplete"
                            [displayWith]="displayEntity.bind(this)">
                            <mat-option value="">ALL</mat-option>
                            <mat-option *ngFor="let entity of filteredEntityList | async" [value]="entity">
                                {{entity}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <app-tooltip [tip]="getTooltip('search', 'entity')"></app-tooltip>
                </section>
                <section class="form-field-section"
                    *ngIf="transactionCriteriaData && transactionCriteriaData.direction">
                    <mat-form-field>
                        <mat-label>{{getTransactionSearchDisplayName('direction')}}
                        </mat-label>
                        <mat-select formControlName="direction" (selectionChange)="onDirectionSelect($event)">
                            <mat-option value="">ALL</mat-option>
                            <mat-option *ngFor="let direction of transactionCriteriaData.direction" [value]="direction">
                                {{direction.directionLabel}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <app-tooltip [tip]="getTooltip('search', 'direction')"></app-tooltip>
                </section>
                <section class="form-field-section"
                    *ngIf="transactionCriteriaData && transactionCriteriaData.trxStatus">
                    <mat-form-field>
                        <mat-label>{{getTransactionSearchDisplayName('trxStatus')}}
                        </mat-label>
                        <mat-select formControlName="trxStatus" (selectionChange)="onStatusSelect($event)">
                            <mat-option value="">ALL</mat-option>
                            <mat-option *ngFor="let trxStatus of transactionCriteriaData.trxStatus" [value]="trxStatus">
                                {{trxStatus.label}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <app-tooltip [tip]="getTooltip('search', 'trans-status')"></app-tooltip>
                </section>
                <section class="form-field-section">
                    <mat-form-field>
                        <mat-label>{{getTransactionSearchDisplayName('reference')}}</mat-label>
                        <input matInput formControlName="reference">
                    </mat-form-field>
                    <app-tooltip [tip]="getTooltip('search', 'reference')"></app-tooltip>
                </section>
                <section class="form-field-section">
                    <mat-form-field>
                        <mat-label>{{getTransactionSearchDisplayName('transactionID')}}</mat-label>
                        <input matInput formControlName="transactionID">
                    </mat-form-field>
                    <app-tooltip [tip]="getTooltip('search', 'trans-id')"></app-tooltip>
                </section>
                <section class="form-field-section">
                    <mat-form-field>
                        <mat-label>{{getTransactionSearchDisplayName('paymentBIC')}}</mat-label>
                        <input matInput formControlName="paymentBIC">
                    </mat-form-field>
                    <app-tooltip [tip]="getTooltip('search', 'payment-bic')"></app-tooltip>
                </section>
                <section class="form-field-section" *ngIf="transactionCriteriaData && transactionCriteriaData.type">
                    <mat-form-field>
                        <mat-label>{{getTransactionSearchDisplayName('type')}}
                        </mat-label>
                        <mat-select formControlName="type">
                            <mat-option value="">ALL</mat-option>
                            <mat-option *ngFor="let type of transactionCriteriaData.type" [value]="type">
                                {{type}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <app-tooltip [tip]="getTooltip('search', 'type')"></app-tooltip>
                </section>
                <section class="section-label">Settlement Date</section>
                <section class="form-field-section">
                    <mat-form-field>
                        <mat-label>{{getTransactionSearchDisplayName('from')}}</mat-label>
                        <input matInput [ngxMatDatetimePicker]="fromPicker" placeholder="Choose a date"
                            [formControl]="searchingParametersFormGroup.controls['from']" [max]="maxDate"
                            (dateChange)="handleDate($event, 'minDate')" />
                        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #fromPicker (opened)="setCalendarDblClick(fromPicker)"
                            (monthSelected)="setCalendarDblClick(fromPicker)">
                        </ngx-mat-datetime-picker>
                        <mat-error class="error-message"
                            *ngIf="searchingParametersFormGroup.controls['from'].errors?.matDatetimePickerMax">
                            {{getSearchValidationMessage('minDateMoreThanMaxDate')}}
                        </mat-error>
                        <mat-error class="error-message"
                            *ngIf="searchingParametersFormGroup.controls['from'].errors?.matDatetimePickerParse">
                            {{getSearchValidationMessage('incorrect')}}
                        </mat-error>
                    </mat-form-field>
                    <app-tooltip [tip]="getTooltip('search', 'settlement-from')"></app-tooltip>
                </section>
                <section class="form-field-section">
                    <mat-form-field>
                        <mat-label>{{getTransactionSearchDisplayName('to')}}</mat-label>
                        <input matInput [ngxMatDatetimePicker]="toPicker" placeholder="Choose a date"
                            [formControl]="searchingParametersFormGroup.controls['to']" [min]="minDate"
                            (dateChange)="handleDate($event, 'maxDate')" />
                        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #toPicker (opened)="setCalendarDblClick(toPicker)"
                            (monthSelected)="setCalendarDblClick(toPicker)">
                        </ngx-mat-datetime-picker>
                        <mat-error class="error-message"
                            *ngIf="searchingParametersFormGroup.controls['to'].errors?.matDatetimePickerMin">
                            {{getSearchValidationMessage('maxDateLessThanMinDate')}}
                        </mat-error>
                        <mat-error class="error-message"
                            *ngIf="searchingParametersFormGroup.controls['to'].errors?.matDatetimePickerParse">
                            {{getSearchValidationMessage('incorrect')}}
                        </mat-error>
                    </mat-form-field>
                    <app-tooltip [tip]="getTooltip('search', 'settlement-to')"></app-tooltip>
                </section>
                <div class='stepper-actions'>
                    <button mat-raised-button class="action-button" [disabled]="!searchingParametersFormGroup.valid"
                        (click)="onNext()">Next</button>
                    <button mat-raised-button class="action-button" color='warn' (click)="resetSearchParameters()">
                        Reset</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>SCT Transaction Results</ng-template>
            <app-autorefresh-data [shouldAutoRefresh]="false"
                [getData]="getTransactionList.bind(this, this.pageIndex, this.pageSize)"></app-autorefresh-data>
            <app-transaction-table [(isLoading)]="isLoading" [pageIndex]="pageIndex"
                [pageSize]="pageSize" [getTransactionList]="getTransactionList.bind(this)" [dataSource]="dataSource"
                [transactions]="transactions">
            </app-transaction-table>
            <div class='stepper-actions'>
                <button mat-raised-button matStepperPrevious class="action-button">Back</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <mat-card-footer>
        <mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>