<mat-card class="transaction-search-create-card">
    <mat-card-header>
        <mat-card-title>Search SCT Transactions
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <div class="top-error-message">
            <app-error-template [errorMessage]="errorMessage"></app-error-template>
        </div>
    </mat-card-content>
    <mat-horizontal-stepper #stepper [linear]="isLinear" (selectionChange)="onStepChange($event)">
        <mat-step [stepControl]="searchingParametersFormGroup">
            <form [formGroup]="searchingParametersFormGroup">
                <ng-template matStepLabel>Search parameters</ng-template>
                <mat-form-field *ngIf="transactionCriteriaData && transactionCriteriaData.entity">
                    <mat-label>{{getTransactionSearchDisplayName('entity')}}
                    </mat-label>
                    <mat-select formControlName="entity">
                        <mat-option value="">ALL</mat-option>
                        <mat-option *ngFor="let entity of transactionCriteriaData.entity" [value]="entity">
                            {{entity}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="transactionCriteriaData && transactionCriteriaData.direction">
                    <mat-label>{{getTransactionSearchDisplayName('direction')}}
                    </mat-label>
                    <mat-select formControlName="direction" (selectionChange)="onDirectionSelect($event)">
                        <mat-option value="">ALL</mat-option>
                        <mat-option *ngFor="let direction of transactionCriteriaData.direction" [value]="direction">
                            {{direction}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="transactionCriteriaData && transactionCriteriaData.trxStatus">
                    <mat-label>{{getTransactionSearchDisplayName('trxStatus')}}
                    </mat-label>
                    <mat-select formControlName="trxStatus" (selectionChange)="onStatusSelect($event)">
                        <mat-option value="">ALL</mat-option>
                        <mat-option *ngFor="let trxStatus of transactionCriteriaData.trxStatus" [value]="trxStatus">
                            {{trxStatus.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{getTransactionSearchDisplayName('reference')}}</mat-label>
                    <input matInput formControlName="reference">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{getTransactionSearchDisplayName('transactionID')}}</mat-label>
                    <input matInput formControlName="transactionID">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{getTransactionSearchDisplayName('paymentBIC')}}</mat-label>
                    <input matInput formControlName="paymentBIC">
                </mat-form-field>
                <mat-form-field *ngIf="transactionCriteriaData && transactionCriteriaData.type">
                    <mat-label>{{getTransactionSearchDisplayName('type')}}
                    </mat-label>
                    <mat-select formControlName="type">
                        <mat-option value="">ALL</mat-option>
                        <mat-option *ngFor="let type of transactionCriteriaData.type" [value]="type">
                            {{type}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{getTransactionSearchDisplayName('from')}}</mat-label>
                    <input matInput type="text" [formControl]="searchingParametersFormGroup.controls['from']"
                        (change)="onDateChange($event, searchingParametersFormGroup.controls['from'])"
                        ngxDaterangepickerMd [timePicker]="true" drops="down" opens="right" [singleDatePicker]="true"
                        [isInvalidDate]="isInvalidFromDate" [timePicker24Hour]="true" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{getTransactionSearchDisplayName('to')}}</mat-label>
                    <input matInput type="text" [formControl]="searchingParametersFormGroup.controls['to']"
                        (change)="onDateChange($event, searchingParametersFormGroup.controls['to'])"
                        ngxDaterangepickerMd [timePicker]="true" drops="down" opens="right" [singleDatePicker]="true"
                        [isInvalidDate]="isInvalidToDate" [timePicker24Hour]="true" />
                </mat-form-field>
                <div class='stepper-actions'>
                    <button mat-raised-button matStepperNext class="action-button">Next</button>
                    <button mat-raised-button class="action-button" color='warn' (click)="resetSearchParameters()">
                        Reset</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <mat-slide-toggle class="refresh-toggle" [checked]="autoRefreshing"
                (change)="autoRefreshChange($event.checked)">
                Automatically refresh every minute
            </mat-slide-toggle>
            <h3 *ngIf="transactions && transactions.totalElements">
                {{getSearchingTableHeader(transactions.totalElements, transactions.pageable.pageSize, transactions.pageable.pageNumber + 1)}}
            </h3>
            <ng-template matStepLabel>Search results</ng-template>
            <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-button (click)="openTransactionDetailsDialog(element.fileID, element.id)">
                                {{element.id}}
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-icon [svgIcon]="getTransactionStatusIcon(element.status)"></mat-icon>
                            &nbsp;{{element.status}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="transactionID">
                        <mat-header-cell *matHeaderCellDef> Transaction ID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.transactionID}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.type}}
                            <mat-icon>{{getDirectionIcon(element.direction)}}</mat-icon>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="timestamp">
                        <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.timestamp | date:'dd/MM/yyyy, HH:mm:ss'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="WFID">
                        <mat-header-cell *matHeaderCellDef> WFID </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-button (click)="openBusinessProcessDialog(element)">
                                {{element.workflowID}}
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="settleDate">
                        <mat-header-cell *matHeaderCellDef> Settle Date </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.settleDate | date:'dd/MM/yyyy'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="settleAmount">
                        <mat-header-cell *matHeaderCellDef> Settle Amount </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.settleAmount | number: '1.2-2'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noData">
                        <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                            No records found.
                        </mat-footer-cell>
                    </ng-container>

                    <mat-footer-row *matFooterRowDef="['noData']"
                        [hidden]="isLoading || (dataSource && dataSource.data.length > 0)">
                    </mat-footer-row>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <app-table-paginator *ngIf="transactions" [value]="pageIndex + 1"
                    [getRows]="getTransactionList.bind(this)" [min]="1" [max]="transactions && transactions.totalPages"
                    [length]="transactions.totalElements" [pageIndex]="transactions.pageable.pageNumber"
                    [pageSize]="transactions.pageable.pageSize" [pageSizeOptions]="pageSizeOptions"
                    showFirstLastButtons>
                </app-table-paginator>

            </div>
            <div class='stepper-actions'>
                <button mat-raised-button matStepperPrevious class="action-button">Back</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <mat-card-footer>
        <mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>