.login-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
    background-color: #e0e0e0;

    .login-card {
        width: fit-content;
        height: fit-content;

        .mat-form-field {
            width: 100%;
        }

        .login-button {
            margin-top: 10px;
        }
    }
}