/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-body-wrapper {
    max-height: 50vh;
}

.mat-footer-row[hidden] {
    display: none !important;
}

.mat-stepper-horizontal {
    .mat-step-label {
        white-space: normal;
    }
}

.mat-button-base {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

mat-form-field {
    &.ng-valid {
        .mat-form-field-wrapper {
            padding-bottom: 1.25em;
        }
    }

    &.ng-invalid,
    &.mat-form-field-invalid {
        .mat-form-field-wrapper {
            padding-bottom: 7px;
        }
    }

    &.ng-untouched {
        .mat-form-field-wrapper {
            padding-bottom: 1.25em;
        }
    }

    .mat-form-field {
        &-underline {
            position: static;
        }

        &-subscript-wrapper {
            position: static;
        }
    }
}

.main {
    .mat-card:not(.login-card) {
        margin: 15px;
        position: absolute;
        bottom: 0;
        top: 64px;
        overflow: auto;
        left: 0px;
        right: 0px;

        .mat-horizontal-content-container {
            overflow: visible !important;
        }

        .mat-table {
            display: inline-block;
            margin-right: 15px;

            .mat-row,
            .mat-header-row {
                border-width: none;
                border-bottom-width: none;
                border-style: none;
                display: inline-flex;
                min-width: 100%;
            }

            .mat-header-cell,
            .mat-cell {
                border-width: 0;
                border-bottom-width: 1px;
                border-style: solid;
                border-bottom-color: rgba(0, 0, 0, .12);
                padding-right: 10px;
            }

        }

    }
}

.mat-table {

    .mat-header-cell,
    .mat-cell,
    .mat-cell>.mat-button {
        word-break: break-word;
        white-space: normal;
        line-height: normal;
        text-align: left;
        min-width: 10px;

        .mat-cell-value {
            width: 100%;
        }
    }

    .mat-cell>.mat-button {
        padding: 0;
    }

    .action-button {
        width: auto;
        margin-right: 10px;
        word-break: normal;

        .action-icon {
            display: flex;
            align-items: center;

            .mat-icon-inline {
                width: 24px;
            }
        }
    }
}

.paginator {
    width: 100%;

    .mat-paginator {
        background-color: unset;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    /* IE10+ CSS styles go here */
    .mat-header-row,
    .mat-row {
        -ms-flex-align: stretch;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.mat-slide-toggle-thumb-container {
    z-index: 0 !important;
}

.mat-horizontal-content-container {
    overflow: initial !important;
}

.mat-select-panel,
.mat-autocomplete-panel {
    max-height: 400px !important;

    .mat-option {
        font-size: inherit;
        height: 2em !important;
    }
}

// Override default toast css rules
.toast-container .ngx-toastr {
    width: 350px; // set width of toast
    word-wrap: break-word;

    .toast-title {
        letter-spacing: 0.3px; // set space between letters in the title
    }

    ul li {
        margin-left: -10px; // set negative indent for list
    }
}

.validity-flag {
    display: flex;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;

    span {
        width: 100%;
        margin-left: 5px;
    }
}

.table-container {
    display: table; // Used for correct displaying pagination and table scrolling
}