/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$deep-purple: (50: #ede7f6,
    100: #d1c4e9,
    200: #b39ddb,
    300: #9575cd,
    400: #7e57c2,
    500: #5a287d,
    600: #5e35b1,
    700: #512da8,
    800: #4527a0,
    900: #311b92,
    A100: #b388ff,
    A200: #7c4dff,
    A400: #651fff,
    A700: #6200ea,
    contrast: (50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    ));

$primary: mat-palette($deep-purple);
$accent: mat-palette($deep-purple, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme((color: (primary: $primary,
            accent: $accent,
            warn: $warn,
        )));

@include angular-material-theme($theme);


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
    font-family: 'Material Icons' !important;
    /* Support for IE */
    font-feature-settings: 'liga';
}

.mat-footer-row[hidden] {
    display: none !important;
}

.mat-stepper-horizontal {
    .mat-step-label {
        white-space: normal;
    }
}

.mat-button-base {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

mat-form-field {
    &.ng-valid {
        .mat-form-field-wrapper {
            padding-bottom: 1.25em;
        }
    }

    &.ng-invalid,
    &.mat-form-field-invalid {
        .mat-form-field-wrapper {
            padding-bottom: 7px;
        }
    }

    &.ng-untouched {
        .mat-form-field-wrapper {
            padding-bottom: 1.25em;
        }
    }

    .mat-form-field {
        &-underline {
            position: static;
        }

        &-subscript-wrapper {
            position: static;
        }
    }
}

.main {
    .mat-card:not(.login-card) {
        margin: 15px;
        position: absolute;
        bottom: 0;
        top: 64px;
        overflow: auto;
        left: 0px;
        right: 0px;

        .mat-horizontal-content-container {
            overflow: visible !important;
        }

        .table-container {
            width: 100%;
        }

        .mat-table {
            display: inline-block;
            margin-right: 15px;
            width: 100%;

            .mat-row,
            .mat-header-row {
                border-width: none;
                border-bottom-width: none;
                border-style: none;
                display: inline-flex;
                min-width: 100%;
            }

            .mat-header-cell,
            .mat-cell {
                border-width: 0;
                border-bottom-width: 1px;
                border-style: solid;
                border-bottom-color: rgba(0, 0, 0, .12);
                padding-right: 10px;
            }

        }

    }
}

.mat-table {

    .mat-row,
    .mat-header-row,
    .mat-cell {
        min-height: 40px !important;
    }

    .mat-cell:empty {
        display: block;
    }

    .mat-header-cell,
    .mat-cell,
    .mat-cell>.mat-button {
        word-break: break-all;
        white-space: normal;
        line-height: normal;
        text-align: left;
        min-width: 10px;

        .mat-cell-value {
            width: 100%;
        }
    }

    .mat-cell>.mat-button {
        padding: 0;
    }

    .action-button {
        width: auto;
        margin-right: 10px;
        word-break: normal;

        .action-icon {
            display: flex;

            .mat-icon {
                font-size: 17px;
                width: 20px;
                height: 0px;
            }
        }
    }
}

.paginator {
    width: 100%;

    .mat-paginator {
        background-color: unset;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    /* IE10+ CSS styles go here */
    .mat-header-row,
    .mat-row {
        -ms-flex-align: stretch;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.mat-slide-toggle-thumb-container {
    z-index: 0 !important;
}

.mat-horizontal-content-container {
    overflow: initial !important;
}

.mat-select-panel,
.mat-autocomplete-panel {
    max-height: 400px !important;

    .mat-option {
        font-size: inherit;
        height: 2em !important;
    }
}

// Override default toast css rules
.toast-container .ngx-toastr {
    width: 350px; // set width of toast
    word-wrap: break-word;

    .toast-title {
        letter-spacing: 0.3px; // set space between letters in the title
    }

    ul li {
        margin-left: -10px; // set negative indent for list
    }
}

.validity-flag {
    display: flex;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;

    span {
        width: 100%;
        margin-left: 5px;
    }
}

.table-container {
    display: table; // Used for correct displaying pagination and table scrolling
}

.mat-dialog-container {
    overflow: visible !important;

    .cdk-drag {
        height: -webkit-fill-available;
        height: stretch;
        height: -moz-available;
        height: 100%;
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }

    .mat-dialog-content {
        max-height: 75vh !important;
    }

    .mat-dialog-actions {
        margin-top: auto;
    }

    .ng-resizable-diagonal {
        border-bottom: 12px solid #5a287d;
    }
}