<app-loading-container [loading]="loading$" (stateChange)="updateTable()">
  <mat-card class="entity-pending-card">
    <mat-card-header>
      <mat-card-title>Entity pending changes</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon inline>format_list_numbered</mat-icon> Version manager
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="changes">
          <mat-header-cell *matHeaderCellDef> Changes </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon inline>info</mat-icon> Changes
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="entity">
          <mat-header-cell *matHeaderCellDef> Entity </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.entity}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="service">
          <mat-header-cell *matHeaderCellDef> Service </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.service}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</app-loading-container>