<mat-card class="entity-pending-card">
  <mat-card-header>
    <mat-card-title>Entity pending changes</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <div class="search-by-content">
      <h3 class="search-by-label">Search by</h3>
      <mat-form-field class="search-by-field">
        <mat-label>Search by service</mat-label>
        <mat-select [(ngModel)]="serviceSearchingValue">
          <mat-option value="">ALL</mat-option>
          <mat-option value="GPL">GPL</mat-option>
          <mat-option value="SCT">SCT</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-by-field">
        <mat-label>Search by entity name</mat-label>
        <input matInput [(ngModel)]="entityNameSearchingValue">
      </mat-form-field>
      <mat-form-field class="search-by-field">
        <mat-label>Search by DN</mat-label>
        <input matInput [(ngModel)]="DNSearchingValue">
      </mat-form-field>
      <button color="primary" mat-raised-button (click)="getPendingChanges(pageIndex, pageSize)">Search</button>
      <button color="warn" class="clear-button" mat-raised-button (click)="clearParams()">Clear</button>

    </div>
    <div class="table-container">
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="changeControls">

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button class="action-button" mat-button (click)="openApprovingDialog(element)">
              <div class="action-icon">
                <mat-icon inline>format_list_numbered</mat-icon> Version manager
              </div>
            </button>
            <a mat-icon-button *ngIf="element.operation !== CHANGE_OPERATION.DELETE && isTheSameUser(element.changer)"
              class="action-button"
              [routerLink]="['/' + ROUTING_PATHS.ENTITIES + '/' + ROUTING_PATHS.PENDING + '/' + ROUTING_PATHS.EDIT, element.changeID]"
              [state]="{ pageIndex: pageIndex, pageSize: pageSize, previousURL: getCurrentRoute()}" alt="Edit"
              title="Edit">
              <div class="action-icon">
                <mat-icon inline>edit</mat-icon>edit
              </div>
            </a>
            <button mat-icon-button *ngIf="isTheSameUser(element.changer)" class="action-button" alt="Delete"
              title="Delete" (click)="deletePendingChange(element)">
              <div class="action-icon">
                <mat-icon>clear</mat-icon>delete
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="changes">
          <mat-header-cell *matHeaderCellDef> Changes </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="openInfoDialog(element)">
              <mat-icon inline>info</mat-icon> info
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="entity">openEntityDetailsDialog
          <mat-header-cell *matHeaderCellDef> Entity </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="openDetailsDialog(element)">
              {{element.resultMeta1}}
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="service">
          <mat-header-cell *matHeaderCellDef> Service </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div class="mat-cell-value">
              {{element.resultMeta2}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
            <div class="mat-cell-value">
              No records found.
            </div>
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="paginator">
          <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
            <app-table-paginator class="paginator" *ngIf="changeControls" [value]="pageIndex + 1"
              [getRows]="getPendingChanges.bind(this)" [min]="1" [max]="changeControls && changeControls.totalPages"
              [length]="changeControls.totalElements" [pageIndex]="changeControls.pageable.pageNumber"
              [pageSize]="changeControls.pageable.pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
            </app-table-paginator>
          </mat-footer-cell>
        </ng-container>

        <mat-footer-row *matFooterRowDef="['noData']"
          [hidden]="isLoading || (dataSource && dataSource.data.length > 0)">
        </mat-footer-row>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['paginator']" [hidden]="dataSource && dataSource.data.length === 0">
        </mat-footer-row>
      </mat-table>

    </div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </mat-card-content>
</mat-card>