<mat-card class="search-trusted-certificate-card">
  <mat-card-header>
    <mat-card-title>Trusted Certificates</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <div class="search-by-content">
      <h3 class="search-by-label">Search by</h3>

      <div class="search-field">
        <mat-form-field class="search-by-field">
          <mat-label>Search by Certificate Name</mat-label>
          <input matInput [(ngModel)]="certificateNameSearchingValue">
        </mat-form-field>
        <app-tooltip [tip]="getTooltip('search', 'by-cert-name')" position="below"></app-tooltip>
      </div>

      <div class="search-field">
        <mat-form-field class="search-by-field">
          <mat-label>Search by SHA Thumbprint</mat-label>
          <input matInput [(ngModel)]="thumbprintSearchingValue">
        </mat-form-field>
        <app-tooltip [tip]="getTooltip('search', 'by-thumbprint')" position="below"></app-tooltip>
      </div>

      <button color="primary" class="search-button" mat-raised-button
        (click)="getTrustedCertificateList(0, pageSize)">Search</button>
      <button color="warn" mat-raised-button (click)="clearParams()">Clear</button>
    </div>
    <div class="table-container">
      <app-table-paginator class="paginator" *ngIf="trustedCertificates" [value]="pageIndex + 1"
        [getRows]="getTrustedCertificateList.bind(this)" [min]="1"
        [max]="trustedCertificates && trustedCertificates.totalPages" [length]="trustedCertificates.totalElements"
        [(pageIndex)]="trustedCertificates.pageable.pageNumber" [pageSize]="trustedCertificates.pageable.pageSize"
        [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
      </app-table-paginator>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button class="action-button" *ngIf="element.changeID" (click)="openApprovingDialog(element)">
              <div class="action-icon">
                <mat-icon inline>format_list_numbered</mat-icon> Version manager
              </div>
            </button>
            <button class="action-button" mat-icon-button *ngIf="!element.trustedCertificateLog" alt="Delete"
              title="Delete" (click)="deleteTrustedCertificate(element)">
              <div class="action-icon">
                <mat-icon>clear</mat-icon>delete
              </div>
            </button>
            <a mat-icon-button
              *ngIf="element.changeID && element.operation !== CHANGE_OPERATION.DELETE && isTheSameUser(element.changer)"
              class="action-button"
              [routerLink]="['/' + ROUTING_PATHS.TRUSTED_CERTIFICATES + '/' + ROUTING_PATHS.PENDING + '/' + ROUTING_PATHS.EDIT, element.changeID]"
              [state]="{ 
                                pageIndex: pageIndex, 
                                pageSize: pageSize, 
                                previousURL: getCurrentRoute(),
                                certificateNameSearchingValue: certificateNameSearchingValue,
                                thumbprintSearchingValue: thumbprintSearchingValue
                            }" alt="Edit" title="Edit">
              <div class="action-icon">
                <mat-icon inline>edit</mat-icon>edit
              </div>
            </a>
            <button mat-icon-button *ngIf="element.changeID && isTheSameUser(element.changer)" class="action-button"
              alt="Delete" title="Delete" (click)="deletePendingChange(element)">
              <div class="action-icon">
                <mat-icon>clear</mat-icon>delete
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="changes">
          <mat-header-cell *matHeaderCellDef> Changes </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button *ngIf="element.trustedCertificateLog" (click)="openInfoDialog(element)">
              <mat-icon inline>info</mat-icon> info
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="openTrustedCertificateDetailsDialog(element.trustedCertificateLog || element)">
              {{element.certificateName || element.resultMeta1}}
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="thumbprint">
          <mat-header-cell *matHeaderCellDef> SHA-1 Thumbprint </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div class="mat-cell-value">
              {{element.thumbprint || element.resultMeta2}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="thumbprint256">
          <mat-header-cell *matHeaderCellDef> SHA-2 Thumbprint </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div class="mat-cell-value">
              {{element.thumbprint256 || element.resultMeta3}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
            <div class="mat-cell-value">
              No records found.
            </div>
          </mat-footer-cell>
        </ng-container>
        <mat-footer-row *matFooterRowDef="['noData']"
          [hidden]="isLoading || (dataSource && dataSource.data.length > 0)">
        </mat-footer-row>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <app-table-paginator class="paginator" *ngIf="trustedCertificates" [value]="pageIndex + 1"
        [getRows]="getTrustedCertificateList.bind(this)" [min]="1"
        [max]="trustedCertificates && trustedCertificates.totalPages" [length]="trustedCertificates.totalElements"
        [(pageIndex)]="trustedCertificates.pageable.pageNumber" [pageSize]="trustedCertificates.pageable.pageSize"
        [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
      </app-table-paginator>
    </div>
    <mat-spinner *ngIf="isLoading || isLoadingDetails"></mat-spinner>
  </mat-card-content>
</mat-card>