<mat-card class="search-trusted-certificate-card">
    <mat-card-header>
        <mat-card-title>Trusted Certificates</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <app-error-template [errorMessage]="errorMessage"></app-error-template>
        <div class="search-by-content">
            <h3 class="search-by-label">Search by</h3>

            <div class="search-field">
                <mat-form-field class="search-by-field">
                    <mat-label>Search by Certificate Name</mat-label>
                    <input matInput [(ngModel)]="certificateNameSearchingValue">
                </mat-form-field>
                <app-tooltip [tip]="getTooltip('search', 'by-cert-name')"></app-tooltip>
            </div>

            <div class="search-field">
                <mat-form-field class="search-by-field">
                    <mat-label>Search by SHA-1 Thumbprint</mat-label>
                    <input matInput [(ngModel)]="thumbprintSearchingValue">
                </mat-form-field>
                <app-tooltip [tip]="getTooltip('search', 'by-thumbprint')"></app-tooltip>
            </div>

            <div class="search-field">
                <mat-form-field class="search-by-field">
                    <mat-label>Search by SHA-2 Thumbprint</mat-label>
                    <input matInput [(ngModel)]="thumbprint256SearchingValue">
                </mat-form-field>
                <app-tooltip [tip]="getTooltip('search', 'by-thumbprint')"></app-tooltip>
            </div>

            <button color="primary" mat-raised-button
                (click)="getTrustedCertificateList(pageIndex, pageSize)">Search</button>
        </div>
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" *ngIf="!isLoading">

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button *ngIf="element.changeID" (click)="openApprovingDialog(element)">
                            <mat-icon inline>format_list_numbered</mat-icon> Version manager
                        </button>
                        <button mat-icon-button *ngIf="!element.trustedCertificateLog"
                            (click)="deleteTrustedCertificate(element)">
                            <mat-icon alt="Delete" title="Delete">clear</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="changes">
                    <mat-header-cell *matHeaderCellDef> Changes </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button *ngIf="element.trustedCertificateLog" (click)="openInfoDialog(element)">
                            <mat-icon inline>info</mat-icon> Changes
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button
                            (click)="openTrustedCertificateDetailsDialog(element.trustedCertificateLog || element)">
                            {{element.certificateName || element.resultMeta1}}
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="thumbprint">
                    <mat-header-cell *matHeaderCellDef> SHA-1 Thumbprint </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.thumbprint || element.resultMeta2}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="thumbprint256">
                    <mat-header-cell *matHeaderCellDef> SHA-2 Thumbprint </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.thumbprint256 || element.resultMeta3}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                        No records found.
                    </mat-footer-cell>
                </ng-container>

                <mat-footer-row *matFooterRowDef="['noData']"
                    [hidden]="isLoading || (dataSource && dataSource.data.length > 0)">
                </mat-footer-row>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <app-table-paginator *ngIf="trustedCertificates" [value]="pageIndex + 1"
                [getRows]="getTrustedCertificateList.bind(this)" [min]="1"
                [max]="trustedCertificates && trustedCertificates.totalPages"
                [length]="trustedCertificates.totalElements" [pageIndex]="trustedCertificates.pageable.pageNumber"
                [pageSize]="trustedCertificates.pageable.pageSize" [pageSizeOptions]="pageSizeOptions"
                showFirstLastButtons></app-table-paginator>

        </div>
        <mat-spinner *ngIf="isLoading || isLoadingDetails"></mat-spinner>
    </mat-card-content>
</mat-card>