.search-trusted-certificate-card {

    margin: 15px 15px 15px 15px;

    .search-by-content {

        .search-by-label {
            margin-top: 10px;
            margin-bottom: 0px;
        }

        .search-by-field {
            margin-right: 15px;
        }

        button {
            vertical-align: text-bottom;
        }

    }

    .mat-table {
        width: 100%;

        .mat-column-action {
            width: 75px !important;
        }

        .mat-column-thumbprint {
            word-break: break-all;
        }

    }

    .mat-spinner {
        margin: auto;
    }
}