<h2 mat-dialog-title>{{data.title}}</h2>
<app-error-template [errorMessage]="errorMessage"></app-error-template>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs" [label]="tab.tabTitle">
            <app-tab-content [tab]="tab" [displayName]="displayName.bind(this)"></app-tab-content>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <div *ngIf="approveAction" class="approve-actions">
        <mat-form-field>
            <mat-label>Approver Comments</mat-label>
            <textarea matInput type="text" [(ngModel)]="approverComments"></textarea>
        </mat-form-field>
        <button mat-raised-button color='primary' (click)="approvingAction(changeStatus.ACCEPTED)"
            [disabled]="errorMessage && (errorMessage.message || errorMessage.errors)">Accept</button>
        <button mat-raised-button color="warn" (click)="approvingAction(changeStatus.REJECTED)">Reject</button>
        <button class="close-button" mat-raised-button [mat-dialog-close]="true">{{data.yesCaption}}</button>
    </div>
    <mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>
</mat-dialog-actions>