<h2 mat-dialog-title>{{data.title}}</h2>
<mat-error class="top-error-message" *ngIf="errorMessage">{{errorMessage.message}} ({{errorMessage.code}})
    <ul *ngIf="errorMessage.errors">
        <li ng *ngFor="let error of errorMessage.errors">{{getErrorsMessage(error)}}</li>
    </ul>
</mat-error>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs" [label]="tab.tabTitle">
            <mat-table *ngFor="let dataSource of tab.tabSections" [dataSource]="dataSource.sectionItems">
                <ng-container matColumnDef="tableTitle">
                    <mat-header-cell *matHeaderCellDef colspan="2">
                        {{dataSource.sectionTitle}}
                    </mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="fieldName">
                    <mat-cell *matCellDef="let element">
                        {{element.fieldName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fieldValue">
                    <mat-cell *matCellDef="let element">
                        {{(element.shouldDisplayValueUpperCase && element.fieldValue | uppercase) || element.fieldValue}}
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="['tableTitle']; sticky: true" [hidden]="!dataSource.sectionTitle">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <div *ngIf="isApprovingActions" class="approve-actions">
        <mat-form-field>
            <mat-label>Approver Comments</mat-label>
            <textarea matInput type="text" [(ngModel)]="approverComments"></textarea>
        </mat-form-field>
        <button mat-raised-button color='primary' (click)="entityApprovingAction(changeStatus.ACCEPTED)">Accept</button>
        <button mat-raised-button color="warn" (click)="entityApprovingAction(changeStatus.REJECTED)">Reject</button>
    </div>
    <button class="close-button" mat-raised-button [mat-dialog-close]="true">{{data.yesCaption}}</button>
    <mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>
</mat-dialog-actions>