<h2 mat-dialog-title>{{data.title}}</h2>
<h4 class="mat-dialog-subtitle">{{data.subTitle || ''}}</h4>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput disabled [value]="getUserName()">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password" required>
    <button *ngIf="password" mat-button type="button" matSuffix mat-icon-button aria-label="Clear"
      (click)="password = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="password-confirmation-actions">
  <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="password"
    [disabled]="!password">Confirm</button>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>