.entity-create-card {
    margin: 15px 15px 15px 15px;

    .mat-form-field {
        width: 100%;
    }

    .error-message {
        margin-bottom: 5px;
    }

    .radio-group-section {

        padding-top: 10px;
        padding-bottom: 10px;

        .radio-group-label {
            margin-right: 15px;
        }

        .mat-radio-button {
            margin-right: 15px;
        }

    }

    .stepper-actions {
        margin-top: 15px;

        .action-button {
            margin-right: 15px;
        }
    }
}