.entity-create-card {
    margin: 15px 15px 15px 15px;

    .top-error-message {
        margin-left: 24px;
    }

    .source-button {
        padding: 0px;
        height: 40px;
        width: 100px;
    }

    .form-field-section {
        width: 50%;

        .source-info {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .mat-select-field {

        .source-value-button {
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    .mat-form-field {
        width: 100%;

        .error-message {
            white-space: pre-wrap;
        }
    }

    .radio-group-section {
        display: flex;
        align-items: center;

        padding-top: 10px;
        padding-bottom: 10px;

        .radio-group-label {
            display: inline-block;
            width: 150px;
        }

        .mat-radio-button {
            width: 80px;
        }

    }

    .form-field-section {

        display: flex;

    }

    .mat-cell {

        word-break: break-word;
        white-space: pre-line;

        .error-table-cell {
            white-space: pre-line;
        }
    }

    .summary-table,
    .schedule-table {
        width: 50%;

        .mat-row,
        .mat-header-row {
            border-width: 0;
            border-bottom-width: 1px;
            border-style: solid;
            border-bottom-color: rgba(0, 0, 0, .12);
            padding-right: 10px;
        }

        .mat-header-cell,
        .mat-cell {
            border-width: none;
            border-bottom-width: none;
            border-style: none;
            display: inline-flex;
        }

    }

    .changer-comments {
        width: 100%;
    }

    .stepper-actions {
        margin-top: 15px;

        .action-button {
            margin-right: 15px;
        }
    }

    @media (max-width: 1360px) {

        .summary-table,
        .schedule-table,
        .form-field-section {
            width: 100%;
        }
    }
}