.entity-create-card {
    margin: 15px 15px 15px 15px;

    .top-error-message {
        margin-left: 24px;
    }

    .mat-form-field {
        width: 100%;

        .error-message {
            white-space: pre-wrap;
        }
    }

    .radio-group-section {

        padding-top: 10px;
        padding-bottom: 10px;

        .radio-group-label {
            display: inline-block;
            width: 150px;
        }

        .mat-radio-button {
            width: 80px;
        }

    }

    .form-field-section {

        display: flex;

    }

    .mat-cell {

        word-break: break-word;

        .error-table-cell {
            white-space: pre-line;
        }
    }


    .stepper-actions {
        margin-top: 15px;

        .action-button {
            margin-right: 15px;
        }
    }
}