.audit-event {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px;
    border: #fafafa solid 1px;

    .action-button {
        padding: 0;
        min-width: auto;
        line-height: 25px;
    }
}