<div class="page-select" *ngIf="length">
    <div class="left-content">
        <div class="current-page">Page {{pageIndex + 1}} of {{max}}</div>
    </div>
    <div class="right-content">
        <button mat-stroked-button class="go-to-button" (click)="getRows(pageIndex, pageSize)">Go to Page: </button>
        <mat-form-field class="page-select-field">
            <input matInput appNumberOnly [value]="pageIndex + 1"
                (input)="setPageIndex($event.target.value > 0 ? $event.target.value -1 : 0)" [min]="min" [max]="max">
        </mat-form-field>
        <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
            (page)="getRows($event.pageIndex, $event.pageSize)">
            <label>123</label>
        </mat-paginator>
    </div>

</div>