.error-monitor-create-card {
    margin: 15px 15px 15px 15px;

    .top-error-message {
        margin-left: 24px;
    }

    .mat-form-field {
        width: 100%;

        .error-message {
            white-space: pre-wrap;
        }
    }

}