<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false && isAuthenticated()">
    <mat-toolbar>Menu</mat-toolbar>
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="app-title">
        <img class="title-logo" src="assets/logos/natwest-logo-colorful.png" alt="NatWest Logo image">
        <div class="version-label">
          &nbsp;BFG UI
          <div class='app-version' *ngIf="appVersion">v{{appVersion}}</div>
        </div>
      </span>
      <span class="user-name">{{getUserName()}}</span>
      <button *ngIf="isAuthenticated()" mat-raised-button class="logout-button" (click)="logout()">logout</button>
    </mat-toolbar>
    <main role="main" class="main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
  <app-session-expiration *ngIf="isAuthenticated()" [alertAtMins]="10"></app-session-expiration>
</mat-sidenav-container>