.sidenav-container {
  height: 100%;

  .app-title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: center;

    .title-logo {
      left: 15px;
      height: 40px;
      margin-right: 10px;
    }

    .version-label {
      display: flex;
      position: absolute;
      right: 0;
      left: 0;
      height: 5px;
      font-size: 26px;
      align-self: center;
      justify-content: center;
      align-items: baseline;

      .app-version {
        font-size: 14px;
        margin-left: 10px;
        height: 22px;
      }

    }

    .user-logout {
      display: flex;
      line-height: initial;
      justify-content: flex-end;
      align-items: center;
      font-size: 17px;
      word-break: break-all;
      white-space: normal;
      padding-left: 5px;

      .logout-button {
        margin-left: 10px;
        line-height: 30px;
        width: 70px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

  }

  @media only screen and (max-width: 900px) {
    .app-title {
      justify-content: unset;

      .title-logo {
        display: none;
      }

      .clipped-title-logo {
        display: block;
        height: 40px !important;
        margin-right: 10px;
      }

      .version-label {
        position: static !important;
        font-size: 19px !important;
      }

      .user-logout {
        font-size: 16px !important;
        margin-left: auto;
        max-width: unset;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .user-logout {
    max-width: 250px;
  }
}

@media only screen and (min-width: 1000px) {
  .user-logout {
    max-width: 290px;
  }
}

@media only screen and (min-width: 1200px) {
  .user-logout {
    max-width: 400px;
  }
}

@media only screen and (min-width: 1500px) {
  .user-logout {
    max-width: 600px;
  }
}

.sidenav {
  width: 230px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  height: 64px;
  top: 0;
  z-index: 1;

}