.sidenav-container {
  height: 100%;

  .app-title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: right;

    .title-logo {
      left: 15px;
      height: 40px;
      margin-right: 10px;
    }

    .version-label {
      display: flex;
      align-items: baseline;
      font-size: 26px;
      align-self: center;
      justify-content: center;
      position: absolute;
      right: 0;
      left: 0;
      height: 5px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .app-version {
        font-size: 14px;
        margin-left: 10px;
        height: 22px;
      }

    }

    .user-logout {
      margin-left: auto;
    }

  }

  @media (max-width: 750px) {

    .title-logo {
      display: none;
    }

    .clipped-title-logo {
      display: block;
      height: 40px !important;
      margin-right: 10px;
    }

    .version-label {
      position: static !important;
      margin-left: auto;
    }
  }

  @media (max-width: 430px) {

    .clipped-title-logo {
      display: none;
    }
  }

}

.sidenav {
  width: 230px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  height: 64px;
  top: 0;
  z-index: 1;

  .user-name {
    margin-left: auto;
    padding-right: 16px;
  }
}