.sidenav-container {
  height: 100%;

  .app-title {
    display: flex;
    align-items: baseline;

    .app-version {
      font-size: 14px;
      margin-left: 10px;
    }
  }
}

.sidenav {
  width: 230px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  height: 64px;
  top: 0;
  z-index: 1;

  .user-name {
    margin-left: auto;
    padding-right: 16px;
  }
}