<?xml version="1.0" encoding="UTF-8" ?>
<server description="new server">

    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>ssl-1.0</feature>
        <feature>passwordUtilities-1.0</feature>
    </featureManager>

    <authData id="jdbcAuthData" user="{aes}AEOZn8ChxUFdjT+d1Bssdvo0cGoyI9BTXR5PJGtNJTdy"
              password="{aes}AJmY9rYBsBOD1bOgw8KfhFdRR8RIt8xJcSvJHfFtt1IE"/>
    <authData id="apiAuthData" user="{aes}AIs50WaNwyQLAFNC0nFumQLfghkdfU5FUkr2Tin0nkZX"
              password="{aes}APcth/ngBlMPWFeXPq3vEHnrWTOXkqfp65ECdzRZTrha"/>
    <authData id="tokenSecretAuthData"
              user="{aes}AAuJv4RXt1fUNhNPonX8+yC+tMvyWE5AplZHKYtiD1RwQw99Ul/Mlk/snNrj6ohJpI64t+ezALvuJPo4Jb1WFv8="
              password="{aes}APfU7FjRMPdVFEnECbCjVjOHXLsPjqwdOV4QRNPItaBrzo5BmeQ0si0XaiLZZfPQYw=="/>
<!--    <authData id="tokenExpiration"-->
<!--              user="{aes}AMaHwP9ZwVKjRkHXZ4V+JIIvzEHn2T1cTbwUBTrbJUTs"-->
<!--              password="{aes}AFu1nlYGW8ItozNu2GXe8JWmZypyrJ6zVKuNRwJJDPFQ"/>-->

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint" host="${default.host}" httpPort="${default.http.port}" httpsPort="9443"/>

    <logging logDirectory="${com.ibm.ws.logging.log.directory}"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>

    <webApplication contextRoot="bfgui" location="${default.location}"/>
</server>