.header {
    display: flex;
    margin: -24px -24px -24px -24px !important;
    padding: 24px 24px;
    cursor: move;
    word-break: break-all;

    .dialog-title {
        margin: 0 !important;
    }

    .close-icon {
        margin-left: auto;
        cursor: pointer !important;
    }
}