.search-params-section {
    display: flex;

    .form-field {
        margin-right: 15px;
    }

    .action-button {
        align-self: center;
    }
}

.total-elements {
    margin: 0 !important;
}

.table-container {

    .mat-table {

        .mat-column-type {
            min-width: 60px;
        }

        .mat-column-transactions {
            min-width: 75px;
        }

        .mat-column-filename {
            min-width: 200px;
        }

    }
}

.reports-button {
    background-color: green;
    color: #fff;
}