<app-dragable-dialog-wrapper>
    <mat-dialog-content>
        <mat-tab-group>
            <mat-tab *ngFor="let tab of tabs" [label]="tab.tabTitle">
                <app-tab-content [tab]="tab" [displayName]="displayName.bind(this)" [actions]="actions">
                </app-tab-content>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button class="close-button" [mat-dialog-close]="true">{{data.yesCaption}}</button>
    </mat-dialog-actions>
    <mat-progress-bar mode="buffer" class="loading-bar" *ngIf="isLoading"></mat-progress-bar>
</app-dragable-dialog-wrapper>