.home-card {
  table {
    border-collapse: collapse;
    font-size: 20px;

    .table-header {
      font-weight: bold;
      text-align: center;
    }

    .left-table-header {
      text-align: right;
    }

    .sct-link {
      text-align: center;

      .traffic-details {
        display: initial;

      }
    }

    .icon-value {
      display: flex;
      align-items: center;

      .value {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  table,
  th,
  td {
    padding: 10px;
  }
}