<mat-card class="home-card">
  <mat-card-content class="card-content">
    <table *ngIf="systemErrors && alerts && SCTTraffic">
      <tr>
        <td class="table-header left-table-header">System Alerts</td>
        <td colspan="3">
          <div class="icon-value">
            <mat-icon>{{systemErrors.count === 0 ? 'check_circle_outline' : 'warning'}}</mat-icon>
            <span class="value">There are&nbsp;{{systemErrors.count}}&nbsp;system errors.</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="2"></td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="2" class="table-header left-table-header">SCT Alerts</td>
        <td colspan="2">
          <div class="icon-value">
            <mat-icon>{{alerts.SCT_ALERTS_FILE === 0 ? 'check_circle_outline' : 'warning'}}</mat-icon>
            <span class="value">There are&nbsp;
              <a class="header-link" [routerLink]="['/' + ROUTING_PATHS.FILE_SEARCH]"
                [queryParams]="alerts.SCT_ALERTS_FILE > 0 && {isError:true, excludeArchive: true, service:'SCT', startDate: 'none'}">
                {{alerts.SCT_ALERTS_FILE}}</a>
              &nbsp;file errors (details).
            </span>
          </div>
        </td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="icon-value">
            <mat-icon>{{alerts.SCT_ALERTS_TX === 0 ? 'check_circle_outline' : 'warning'}}</mat-icon>
            <span class="value">There are&nbsp;
              <a class="header-link" [routerLink]="['/' + ROUTING_PATHS.SCT_TRANSACTION_SEARCH]"
                [queryParams]="alerts.SCT_ALERTS_TX > 0 ? {isError:true, hasMessageId: true, excludeArchive: true, startDate: 'none'} : {startDate: getMinusMonthsDate(1)}">
                {{alerts.SCT_ALERTS_TX}}</a>
              &nbsp;transaction errors (details).
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="table-header left-table-header">SCT Traffic Summary</td>
        <td class="table-header">Files</td>
        <td class="table-header">Transactions</td>
        <td class="table-header">Payaway</td>
      </tr>
      <tr>
        <td class="left-table-header">Last 60 minutes</td>
        <td class="sct-link">
          <a [routerLink]="['/' + ROUTING_PATHS.FILE_SEARCH]"
            [queryParams]="SCTTraffic.SCT_FILES.HOUR > 0 && {startDate: getMinusHoursDate(1), service:'SCT'}"
            (click)="checkCount(SCTTraffic.SCT_FILES.HOUR, ROUTING_PATHS.FILE_SEARCH)">
            {{SCTTraffic.SCT_FILES.HOUR}}
          </a>
        </td>
        <td class="sct-link">
          <a [routerLink]="['/' + ROUTING_PATHS.SCT_TRANSACTION_SEARCH]"
            [queryParams]="SCTTraffic.SCT_TX.HOUR > 0 ? {startDate: getMinusHoursDate(1), service:'SCT', direction: ['outbound', 'inbound']} : {startDate: getMinusMonthsDate(1)}"
            (click)="checkCount(SCTTraffic.SCT_TX.HOUR, ROUTING_PATHS.SCT_TRANSACTION_SEARCH)">
            {{SCTTraffic.SCT_TX.HOUR}}
          </a>
        </td>
        <td class="sct-link">
          <a [routerLink]="['/' + ROUTING_PATHS.SCT_TRANSACTION_SEARCH]"
            [queryParams]="SCTTraffic.SCT_PAW.HOUR > 0 ? {startDate: getMinusHoursDate(1), service:'SCT', direction: ['payaway']} : {startDate: getMinusMonthsDate(1)}"
            (click)="checkCount(SCTTraffic.SCT_PAW.HOUR, ROUTING_PATHS.SCT_TRANSACTION_SEARCH)">
            {{SCTTraffic.SCT_PAW.HOUR}}
          </a>
        </td>
      </tr>
      <tr>
        <td class="left-table-header">Last 24 hours</td>
        <td class="sct-link">
          <a [routerLink]="['/' + ROUTING_PATHS.FILE_SEARCH]"
            [queryParams]="SCTTraffic.SCT_FILES.DAY > 0 && {startDate: getMinusDaysDate(1), service:'SCT'}"
            (click)="checkCount(SCTTraffic.SCT_FILES.DAY, ROUTING_PATHS.FILE_SEARCH)">
            {{SCTTraffic.SCT_FILES.DAY}}
          </a>
        </td>
        <td class="sct-link">
          <a [routerLink]="['/' + ROUTING_PATHS.SCT_TRANSACTION_SEARCH]"
            [queryParams]="SCTTraffic.SCT_TX.DAY > 0 ? {startDate: getMinusDaysDate(1), service:'SCT', direction: ['outbound', 'inbound']} : {startDate: getMinusMonthsDate(1)}"
            (click)="checkCount(SCTTraffic.SCT_TX.DAY, ROUTING_PATHS.SCT_TRANSACTION_SEARCH)">
            {{SCTTraffic.SCT_TX.DAY}}
          </a>
        </td>
        <td class="sct-link">
          <a [routerLink]="['/' + ROUTING_PATHS.SCT_TRANSACTION_SEARCH]"
            [queryParams]="SCTTraffic.SCT_PAW.DAY > 0 ? {startDate: getMinusDaysDate(1), service:'SCT', direction: ['payaway']} : {startDate: getMinusMonthsDate(1)}"
            (click)="checkCount(SCTTraffic.SCT_PAW.DAY, ROUTING_PATHS.SCT_TRANSACTION_SEARCH)">
            {{SCTTraffic.SCT_PAW.DAY}}
          </a>
        </td>
      </tr>
      <tr>
        <td class="left-table-header">Last 7 days</td>
        <td class="sct-link">
          <a [routerLink]="['/' + ROUTING_PATHS.FILE_SEARCH]"
            [queryParams]="SCTTraffic.SCT_FILES.WEEK > 0 && {startDate: getMinusDaysDate(7), service:'SCT'}"
            (click)="checkCount(SCTTraffic.SCT_FILES.WEEK, ROUTING_PATHS.FILE_SEARCH)">
            {{SCTTraffic.SCT_FILES.WEEK}}
          </a>
        </td>
        <td class="sct-link">
          <a [routerLink]="['/' + ROUTING_PATHS.SCT_TRANSACTION_SEARCH]"
            [queryParams]="SCTTraffic.SCT_TX.WEEK > 0 ? {startDate: getMinusDaysDate(7), service:'SCT', direction: ['outbound', 'inbound']} : {startDate: getMinusMonthsDate(1)}"
            (click)="checkCount(SCTTraffic.SCT_TX.WEEK, ROUTING_PATHS.SCT_TRANSACTION_SEARCH)">
            {{SCTTraffic.SCT_TX.WEEK}}
          </a>
        </td>
        <td class="sct-link">
          <a [routerLink]="['/' + ROUTING_PATHS.SCT_TRANSACTION_SEARCH]"
            [queryParams]="SCTTraffic.SCT_PAW.WEEK > 0 ? {startDate: getMinusDaysDate(7), service:'SCT', direction: ['payaway']} : {startDate: getMinusMonthsDate(1)}"
            (click)="checkCount(SCTTraffic.SCT_PAW.WEEK, ROUTING_PATHS.SCT_TRANSACTION_SEARCH)">
            {{SCTTraffic.SCT_PAW.WEEK}}
          </a>
        </td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>
  </mat-card-footer>
</mat-card>