.home-card {
    position: static !important;

    .top-error-message {
        margin-left: 24px;
    }

    .mat-form-field {
        width: 100%;

        .error-message {
            white-space: pre-wrap;
        }
    }

    .system-statistics {

        display: flex;
        align-items: center;
        padding-bottom: 15px;

        .statistics-label {
            width: 200px;
            display: inline-block;

            h2 {
                font-weight: bold;
                margin: 0;
            }

        }

        .statistics-value {

            display: flex;
            flex-direction: column;

            .icon-value {
                display: inline-flex;
                align-items: center;
            }

            .table-value {

                .header-cell,
                .data-cell {
                    padding: 10px;
                    text-align: center;
                }

                .header-cell,
                .cell {
                    font-size: large;
                }

            }

            h2 {
                font-weight: normal;
                margin: 0;
            }

        }
    }

}