.dialog-container {
    position: relative;

    .header {
        display: flex;
        justify-content: space-between;

        .dialog-title {
            margin: 0;
        }

        .close-icon {
            margin-left: auto;
            cursor: pointer !important;
        }
    }

    .search-params-section {
        display: flex;

        .form-field {
            margin-right: 15px;
            min-width: 222px;
        }
    }

    .mat-dialog-actions {

        justify-content: flex-end;

        .action-button:not(.mat-button-disabled) {
            background-color: green;
            color: #fff;
        }
    }

}