<mat-card class="search-entities-card">
    <mat-card-header>
        <mat-card-title>Entities</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <app-error-template [errorMessage]="errorMessage"></app-error-template>
        <div class="search-by-content">
            <h3 class="search-by-label">Search by</h3>
            <mat-form-field class="search-by-field">
                <mat-label>Search by service</mat-label>
                <mat-select [(ngModel)]="serviceSearchingValue">
                    <mat-option value="">ALL</mat-option>
                    <mat-option value="GPL">GPL</mat-option>
                    <mat-option value="SCT">SCT</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="search-by-field">
                <mat-label>Search by entity name</mat-label>
                <input matInput [(ngModel)]="entityNameSearchingValue">
            </mat-form-field>
            <button color="primary" mat-raised-button (click)="getEntityList(pageIndex, pageSize)">Search</button>
        </div>
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" *ngIf="entities">

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button *ngIf="element.changeID" (click)="openApprovingDialog(element)">
                            <mat-icon inline>format_list_numbered</mat-icon> Version manager
                        </button>
                        <a mat-icon-button *ngIf="element.changeID && isTheSameUser(element.changer)"
                            class="action-button"
                            [routerLink]="['/' + ROUTING_PATHS.ENTITIES + '/' + ROUTING_PATHS.PENDING + '/' + ROUTING_PATHS.EDIT, element.changeID]"
                            [state]="{ 
                                pageIndex: pageIndex, 
                                pageSize: pageSize, 
                                previousURL: getCurrentRoute(),
                                serviceSearchingValue: serviceSearchingValue,
                                entityNameSearchingValue: entityNameSearchingValue
                            }" alt="Edit" title="Edit">
                            <div class="action-icon">
                                <mat-icon inline>edit</mat-icon>edit
                            </div>
                        </a>
                        <a mat-icon-button *ngIf="!element.entityLog" class="action-button"
                            [routerLink]="['/' + ROUTING_PATHS.ENTITIES + '/' + ROUTING_PATHS.EDIT, element.entityId]"
                            [state]="{ pageIndex: pageIndex,
                                pageSize: pageSize,
                                previousURL: getCurrentRoute(),
                                serviceSearchingValue: serviceSearchingValue,
                                entityNameSearchingValue: entityNameSearchingValue }" alt="Edit" title="Edit">
                            <div class="action-icon">
                                <mat-icon inline>edit</mat-icon>edit
                            </div>
                        </a>
                        <button mat-icon-button *ngIf="!element.entityLog" class="action-button" alt="Delete"
                            title="Delete" (click)="deleteEntity(element)">
                            <div class="action-icon">
                                <mat-icon>clear</mat-icon>delete
                            </div>
                        </button>
                        <button mat-icon-button class="action-button"
                            *ngIf="!element.entityLog && element.service === SERVICE_TYPE.SCT"
                            (click)="transmitEntity(element)" alt="Transmit" title="Transmit">
                            <div class="action-icon">
                                <mat-icon>explicit</mat-icon>transmit
                            </div>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="changes">
                    <mat-header-cell *matHeaderCellDef> Changes </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button *ngIf="element.entityLog" (click)="openInfoDialog(element)">
                            <mat-icon inline>info</mat-icon> Changes
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="entity">openEntityDetailsDialog
                    <mat-header-cell *matHeaderCellDef> Entity </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-button (click)="openDetailsDialog(element)">
                            {{element.entity || element.resultMeta1}}
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="service">
                    <mat-header-cell *matHeaderCellDef> Service </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.service || element.resultMeta2}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                        No records found.
                    </mat-footer-cell>
                </ng-container>

                <mat-footer-row *matFooterRowDef="['noData']"
                    [hidden]="isLoading || (dataSource && dataSource.data.length > 0)">
                </mat-footer-row>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <app-table-paginator *ngIf="entities" [value]="pageIndex + 1" [getRows]="getEntityList.bind(this)" [min]="1"
                [max]="entities && entities.totalPages" [length]="entities.totalElements"
                [pageIndex]="entities.pageable.pageNumber" [pageSize]="entities.pageable.pageSize"
                [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></app-table-paginator>
        </div>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </mat-card-content>
</mat-card>