.search-entities-card {

    margin: 15px 15px 15px 15px;

    .card-content {
        min-height: 150px;

        .search-by-content {

            .search-field {
                display: inline-flex;
                margin-right: 40px;
            }

            .search-by-label {
                margin-bottom: 0px;
            }

            .search-by-field {
                margin-right: 15px;
                width: 240px;
            }

            .search-button {
                margin-right: 10px;
                margin-left: -25px;
            }

        }

        .table-container {

            .mat-table {

                .mat-column-action {
                    min-width: 270px;
                }

                .mat-column-entity {
                    min-width: 200px;
                }

                .mat-column-service {
                    min-width: 50px;
                }
            }
        }
    }
}