.search-entities-card {

    margin: 15px 15px 15px 15px;

    .card-content {
        min-height: 150px;

        .search-by-content {

            .search-by-label {
                margin-top: 10px;
                margin-bottom: 0px;
            }

            .search-by-field {
                margin-right: 15px;
            }

            button {
                vertical-align: text-bottom;
            }

        }

        .mat-table {
            width: 100%;

        }

        .mat-spinner {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -50px;
}
    }
}