.refresh-toggle {
    margin-bottom: 15px;
}

.table-container {
    width: 100%;
    overflow-x: auto;

    .mat-table {

        .mat-column-service {
            min-width: 45px;
        }

        .mat-column-error {
            min-width: 50px;
        }

        .mat-column-type {
            min-width: 50px;
        }

        .mat-column-status {
            min-width: 60px;
        }

        .mat-column-WFID,
        .mat-column-id {
            min-width: 80px;
        }

        .mat-column-transactions {
            min-width: 70px;
        }

        .mat-column-filename {
            min-width: 200px;
        }

        .mat-column-timestamp {
            min-width: 140px;
        }

        .mat-column-reference {
            min-width: 200px;
        }
    }
}


.value-table-cell {
    width: 100%;
}