.list-group {
    padding-left: 15px;
    margin: 0;

    .list-group-item {
        white-space: pre-line;
        word-break: normal !important;
        hyphens: none !important;
    }
}

.ng-star-inserted[xml] {
    white-space: pre-wrap;
}