<mat-card class="trusted-certificate-pending-card">
  <mat-card-header>
    <mat-card-title>Trusted Certificate pending changes</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <app-error-template [errorMessage]="errorMessage"></app-error-template>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" *ngIf="!isLoading">

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="openApprovingDialog(element)">
              <mat-icon inline>format_list_numbered</mat-icon> Version manager
            </button>
            <a mat-icon-button *ngIf="element.operation !== CHANGE_OPERATION.DELETE && isTheSameUser(element.changer)"
              class="action-button"
              [routerLink]="['/' + ROUTING_PATHS.TRUSTED_CERTIFICATES + '/' + ROUTING_PATHS.PENDING + '/' + ROUTING_PATHS.EDIT, element.changeID]"
              [state]="{ pageIndex: pageIndex, pageSize: pageSize, previousURL: getCurrentRoute()}" alt="Edit"
              title="Edit">
              <div class="action-icon">
                <mat-icon inline>edit</mat-icon>edit
              </div>
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="changes">
          <mat-header-cell *matHeaderCellDef> Changes </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="openInfoDialog(element)">
              <mat-icon inline>info</mat-icon> Changes
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="openTrustedCertificateDetailsDialog(element.trustedCertificateLog)">
              {{element.resultMeta1}}
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="thumbprint">
          <mat-header-cell *matHeaderCellDef> SHA-1 Thumbprint </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.resultMeta2}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="thumbprint256">
          <mat-header-cell *matHeaderCellDef> SHA-2 Thumbprint </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.resultMeta3}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
            No records found.
          </mat-footer-cell>
        </ng-container>

        <mat-footer-row *matFooterRowDef="['noData']"
          [hidden]="isLoading || (dataSource && dataSource.data.length > 0)">
        </mat-footer-row>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <app-table-paginator *ngIf="changeControls" [value]="pageIndex + 1" [getRows]="getPendingChanges.bind(this)"
        [min]="1" [max]="changeControls && changeControls.totalPages" [length]="changeControls.totalElements"
        [pageIndex]="changeControls.pageable.pageNumber" [pageSize]="changeControls.pageable.pageSize"
        [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></app-table-paginator>

    </div>
    <mat-spinner *ngIf="isLoading || isLoadingDetails"></mat-spinner>
  </mat-card-content>
</mat-card>