.menu-tree-invisible {
  display: none;
}

.menu-tree ul,
.menu-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  width: 182px;
}

.menu-link {
  word-break: break-word;
  display: flex;
  align-items: center;
  white-space: normal;
  text-align: inherit;
  line-height: inherit;
  min-height: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
}