::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
    min-width: 0 !important;
    padding: 0 10px !important;
    margin: 3px !important;
}

.bp-details {

    display: flex;

    .pb-details-section {
        padding-right: 15px;

        .dp-details-item {

            .item-label {
                font-weight: bold;
            }

            .header-link {
                background: none !important;
                border: none;
                padding: 0 !important;
                text-decoration: underline;
                cursor: pointer;
            }

        }

        .dp-details-item>.mat-button {
            padding: 0;
            line-height: normal;
        }
    }
}

.mat-table {
    border-collapse: collapse;
    width: 100%;

    .mat-header-cell,
    .mat-cell,
    .mat-cell>.mat-button {
        word-wrap: initial;
        display: table-cell;
        padding-right: 10px;
        line-break: unset;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;

    }

    .mat-cell>.mat-button {
        padding: 0;
    }

    .mat-cell>.mat-icon {
        vertical-align: inherit;
    }

    .mat-header-row,
    .mat-row {
        display: table-row;
    }

    .mat-column-stepId {
        flex: 0 0 7% !important;
        width: 7% !important;
    }

    .mat-column-exeState {
        flex: 0 0 10% !important;
        width: 10% !important;
    }

    .mat-column-advStatus {
        flex: 0 0 10% !important;
        width: 10% !important;
    }

    .mat-column-startTime,
    .mat-column-endTime {
        flex: 0 0 18% !important;
        width: 18% !important;
    }

    .mat-column-serviceName {
        flex: 0 0 24% !important;
        width: 24% !important;
    }

    .mat-column-docId {
        flex: 0 0 6% !important;
        width: 6% !important;
    }

}

.bp-description {
    margin-top: 10px;
}

.mat-dialog-actions {

    display: block;

    .close-button {
        float: right;
        margin-top: 10px;
    }
}