<mat-card class="trusted-certificate-create-card">
    <mat-card-header>
        <mat-card-title>Create Trusted Certificate
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <mat-error class="top-error-message" *ngIf="errorMessage">
            {{errorMessage.message}} ({{errorMessage.code}})
            <ul *ngIf="errorMessage.errors">
                <li ng *ngFor="let error of errorMessage.errors">{{getErrorsMessage(error)}}</li>
            </ul>
        </mat-error>
    </mat-card-content>
    <mat-horizontal-stepper #stepper [linear]="isLinear" (selectionChange)="getConfirmationFieldsSource()">
        <mat-step [stepControl]="uploadTrustedCertificateFormGroup">
            <form [formGroup]="uploadTrustedCertificateFormGroup">
                <ng-template matStepLabel>Upload Trusted Certificate</ng-template>
                <input formControlName="trustedCertificateFile" type="file" #fileInput id="fileUpload" accept=".der"
                    (change)="handleFileInput($event.target.files)" hidden />
                <button mat-raised-button color='primary' for="fileUpload" (click)="fileInput.click()"
                    [disabled]="isLoading">
                    <mat-icon>file_upload</mat-icon>
                    Upload Trusted Certificate
                </button>
                <div class='stepper-actions'>
                    <button mat-raised-button matStepperNext class="action-button">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step *ngIf="detailsTrustedCertificateFormGroup" [stepControl]="detailsTrustedCertificateFormGroup">
            <form [formGroup]="detailsTrustedCertificateFormGroup">
                <ng-template matStepLabel>Details of Trusted Certificate</ng-template>
                <mat-form-field *ngIf="detailsTrustedCertificateFormGroup.get('name')">
                    <mat-label>{{getTrustedCertificateDisplayName('name')}}</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngFor="let validation of trustedCertificateValidationMessages.name">
                        <mat-error class="error-message"
                            *ngIf="detailsTrustedCertificateFormGroup.get('name').hasError(validation.type)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                    <mat-error class="error-message" *ngIf="getErrorByField('name')">
                        {{getErrorByField('name')}}
                    </mat-error>
                </mat-form-field>
                <div class="ts-item-section">
                    <h3 class="ts-item-section-title">Summary:</h3>
                    <div class="ts-item-section-value">
                        <section class="section-info" *ngIf="detailsTrustedCertificateFormGroup.get('serialNumber')">
                            <h4 class="section-label">{{getTrustedCertificateDisplayName('serialNumber')}}:</h4>
                            <div class="section-value">{{detailsTrustedCertificateFormGroup.get('serialNumber').value}}
                            </div>
                        </section>
                        <section class="section-info" *ngIf="detailsTrustedCertificateFormGroup.get('thumbprint')">
                            <h4 class="section-label">{{getTrustedCertificateDisplayName('thumbprint')}}:</h4>
                            <div class="section-value">{{detailsTrustedCertificateFormGroup.get('thumbprint').value}}
                            </div>
                        </section>
                        <section class="section-info" *ngIf="detailsTrustedCertificateFormGroup.get('validDates')">
                            <h4 class="section-label">{{getTrustedCertificateDisplayName('validDates')}}:</h4>
                            <div class="section-value">{{detailsTrustedCertificateFormGroup.get('validDates').value}}
                            </div>
                        </section>
                        <section class="section-info" *ngIf="detailsTrustedCertificateFormGroup.get('issuer')">
                            <h4 class="section-label">{{getTrustedCertificateDisplayName('issuer')}}:</h4>
                            <div class="section-value">
                                <app-display-table-cell
                                    [value]="getTSItemInfoValues(detailsTrustedCertificateFormGroup.get('issuer').value)">
                                </app-display-table-cell>
                            </div>

                        </section>
                        <section class="section-info" *ngIf="detailsTrustedCertificateFormGroup.get('subject')">
                            <h4 class="section-label">{{getTrustedCertificateDisplayName('subject')}}:</h4>
                            <div class="section-value">
                                <app-display-table-cell
                                    [value]="getTSItemInfoValues(detailsTrustedCertificateFormGroup.get('subject').value)">
                                </app-display-table-cell>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="ts-item-section" *ngIf="detailsTrustedCertificateFormGroup.get('authChainReport')">
                    <h3 class="ts-item-section-title">{{getTrustedCertificateDisplayName('authChainReport')}}:</h3>
                    <div class="ts-item-section-value">
                        <section
                            *ngFor="let element of detailsTrustedCertificateFormGroup.get('authChainReport').value; let i=index"
                            class="section-info">
                            <h4 class="section-label">{{i+1}}:</h4>
                            <div class="section-value">
                                <app-display-table-cell [value]="getTSItemInfoValues(element)">
                                </app-display-table-cell>
                            </div>
                        </section>
                    </div>
                </div>
                <mat-form-field>
                    <mat-label>{{getTrustedCertificateDisplayName('changerComments')}}
                    </mat-label>
                    <textarea matInput formControlName="changerComments"></textarea>
                    <mat-error class="error-message" *ngIf="getErrorByField('changerComments')">
                        {{getErrorByField('changerComments')}}
                    </mat-error>
                </mat-form-field>
                <div class='stepper-actions'>
                    <button mat-raised-button matStepperPrevious class="action-button">Back</button>
                    <button mat-raised-button matStepperNext class="action-button">Next</button>
                    <button mat-raised-button class="action-button" color='warn' (click)="cancelTrustedCertificate()">
                        Cancel</button>
                </div>
            </form>

        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Confirmation of Trusted Certificate</ng-template>
            <mat-table [dataSource]="confirmationPageDataSource">
                <ng-container matColumnDef="field">
                    <mat-header-cell *matHeaderCellDef> Field </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{getTrustedCertificateDisplayName(element.field)}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="value">
                    <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <app-display-table-cell [value]="element.value">
                        </app-display-table-cell>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="error">
                    <mat-header-cell *matHeaderCellDef> Error </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-error class='error-table-cell'>{{element.error}}</mat-error>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="confirmationDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: confirmationDisplayedColumns;"></mat-row>
            </mat-table>
            <div class='stepper-actions'>
                <button mat-raised-button matStepperPrevious class="action-button">Back</button>
                <button mat-raised-button class="action-button" color='primary'
                            (click)="sendTrustedCertificate()">Create</button>
                <button mat-raised-button class="action-button" color='warn' (click)="cancelTrustedCertificate()">
                    Cancel</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <mat-card-footer>
        <mat-progress-bar mode="buffer" *ngIf="isLoading"></mat-progress-bar>
    </mat-card-footer>
</mat-card>