.home-events-card {
    position: static !important;
    max-width: calc(100vw - 295px);
    margin-left: 0 !important;
    margin-right: 0;
    margin-bottom: 8px !important;
    padding-right: 0;
    padding-bottom: 10px;
    padding-top: 10px;

    .card-content {
        min-width: 585px;

        .events-filters {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-bottom: 10px;

            .tooltip {
                display: flex;
                align-items: center;
                margin-left: -10px;
            }

            .chips-list {
                width: 100%;

                .mat-chip {
                    margin: 2px !important;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-right: 8px;
                    padding-left: 10px;
                }
            }

            .field-wrapper {
                display: inline-flex;
            }

            .filter-button,
            .clear-button {
                height: 35px;
                align-self: center;
            }

            .filter-button {
                margin-left: auto;
                margin-right: 10px;
            }

            .clear-button {
                margin-right: 15px;
            }
        }

        .scrolling-events {
            max-height: calc(100vh - 290px);
            min-height: 169px;
            height: 100%;
            overflow-y: auto;
            margin-bottom: 15px;
        }

        @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
            .scrolling-events {
                max-height: calc(100vh - 303px);
            }
        }
    }

    .mat-card-footer {
        height: 4px;
        margin: 0 !important;
        padding-right: 16px;
    }

}

@media (max-width: 900px) {

    .home-events-card {
        max-width: calc(100vw - 60px);
    }
}